<header>
  <div class="navbar-fixed">
    <nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">           
          <!-- CRM -->
           <%#= image_tag(asset_path('animo.jpg')) %>
        </a>

        <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
          <a href="#" class="navbar-item">
            <%= link_to "Home", root_path, :class => 'navbar-item'%>
          </a>
          
          <a href="#" class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a href="#" class="navbar-item">
                About
              </a>
              <a href="#" class="navbar-item">
                Jobs
              </a>
              <a href="#" class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a href="#" class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= current_user.email%>
            </a>

            <div class="navbar-dropdown is-right">
              <!-- <a>
                <%#= link_to content_tag(:span , content_tag(:i , " " , class: "fas fa-user-circle" ), class:"icon" ) + content_tag(:span , " Edit Profile") , edit_registration_path,  method: :delete, :class => 'navbar-item' %>
              </a>
              <a>
                <%#= link_to content_tag(:span , content_tag(:i , " " , class: "far fa-envelope" ), class:"icon" ) + content_tag(:span , " Report") , destroy_user_session_path, method: :delete, :class => 'navbar-item' %>
              </a>
              <hr class="navbar-divider"> -->
              <a>
                <%= link_to content_tag(:span , content_tag(:i , " " , class: "fas fa-sign-out-alt" ), class:"icon" ) + content_tag(:span , " Logout") , destroy_user_session_path, method: :delete, :class => 'navbar-item' %>
              </a>
            </div> 
          </div>
<!--
          <div class="navbar-item">
            <%#= link_to content_tag(:span , content_tag(:i , " " , class: "fas fa-sign-out-alt" ), class:"icon" ) , destroy_user_session_path, method: :delete, title: " log Out" , :class => 'navbar-item' %>
          </div>
-->
        </div>
      </div>
    </nav>
  </div>
</header>