<aside id="sidebar-container">
  <div class="sidebar side-fixed menu " >
    <p class="menu-label">
      Menu
    </p>
    <ul class="menu-list">
      <li>
        <a class="is-active" href="/">
          <span class="icon">
            <i class="fas fa-tachometer-alt"></i>
          </span>
          <span class="menu-collapsed">Dashboard</span>
        </a>
      </li>

      <li class="menu-sub-list">
        
        <a href="#">
          <span class="icon">
            <i class="fa fa-tasks fa-fw"></i>
          </span> 
          <span class="menu-collapsed">Management</span>
        </a>

        <ul class="sidebar-submenu">
          <li class="menu-sub-sub-list">
            <%= link_to('#', root_path)%>
          </li>
        </ul>
      </li>

      <li class="menu-sub-list">
        <a href="#">
          <span class="icon">
            <i class="fas fa-users"></i>
          </span>
          <span class="menu-collapsed sub-plus">User</span>
          
        </a>

        <ul class="sidebar-submenu">
          <li>
            <%= link_to('lorem', root_path)%>
          </li>
          <li>
            <%= link_to('lorem', root_path)%>
          </li>
          <li>
            <%= link_to('lorem', root_path)%>
          </li>
        </ul>
      </li>

      <li class="menu-sub-list">
        <a href="#">
          <span class="icon">
            <i class="fas fa-dollar-sign"></i>
          </span>
          <span class="menu-collapsed">Transaction</span>
        </a>

        <ul class="sidebar-submenu">
          <li>
            <%= link_to('#', root_path)%>
          </li>
        </ul>
      </li>

      <div class="level">
      <li class="menu-sub-list">
        <a href="#">
          <span class="icon">
            <i class="fas fa-book"></i>
          </span>
          <span class="menu-collapsed">Report</span>
        </a>

        <ul class="sidebar-submenu">
          <li>
            <%= link_to('#', root_path)%>
          </li>
          <li>
            <%= link_to('#', root_path)%>
          </li>
        </ul>
      </li>
      </div>

    </ul>
  </div>
  
  <div class="menu sidebar-bottom">
    <ul class="menu-list">
      <li>
        <a href="#" data-toggle="sidebar-colapse" class="btn-collapse">
          <span id="collapse-icon" class="icon">
            <i class="fas fa-angle-double-left"></i>
          </span>
          <span class="menu-collapsed">Collapse</span>
        </a>
      </li>
    </ul> 
  </div>
</aside>

<script>
  $(document).ready(function(){
    $('.menu-sub-list').click(function(){
      $(this).toggleClass('tap');
    });
    
    $('[data-toggle=sidebar-colapse]').click(function () {
      SidebarCollapse();
    });
    
    function SidebarCollapse() {
      $('.menu-collapsed').toggleClass('menu-hidden');
      $('.sidebar-submenu').toggleClass('is-hidden');
      $('#sidebar-container').toggleClass(' sidebar-collapsed');
      $('#collapse-icon').toggleClass('<i class="fas fa-angle-double-right"></i>');
      $('#main').toggleClass('main-collapsed');
    }
    
    $('.menu-sub-list.a').filter(function(){
      return $(this).attr('href').toLowerCase() === window.location.pathname.toLowerCase();
    }).addClass('is-active');

//    $('.menu-sub-list a').filter(function(){
//      console.log($(this).attr('href').toLowerCase());
//      console.log($(this));
//      if($(this).attr('href').toLowerCase() == window.location.pathname.toLowerCase()){
//        $(this).addClass('is-active');
//      }else{
//        console.log($(this).attr('href').toLowerCase());
//        $(this).removeClass('is-active');
//      }
//    });
  });
</script>
