
<div class="field" style="text-align: center;">
  <%= image_tag("/images/logo.png", size: "150" ,:alt => "logo") %>
</div>

<h2>Log in</h2>
<br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field"> 
    <div class="control has-icons-left has-icons-right">
      <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "Email ", id: "mail" , class: "input" %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span> 
    </div>
  </div>
  
  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", id: "pass" , class: "input" %>
      <span class="icon is-small is-left">
        <i class="fas fa-key"></i>
      </span>
    </div>
  </div>

   <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <button class="button is-fullwidth">
      Login
  </button>

  <div class="field">
    <%= render "devise/shared/links" %>
    <br/>
    
  </div>

<% end %>

