<body>
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <section class="hero is-info welcome is-small">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                  Hello, <#%= current_user.name%>.
              </h1>
              <h2 class="subtitle">
                  I hope you are having a great day!
              </h2>
                      <div class="level-left">
                  <%= form_tag root_path, method: :get do %>
                    <div class="level-item">
                      <div class="control">
                        <% from_date = params[:from_date].present? ? params[:from_date] : Date.current.strftime('%Y-%m-%d') %>
                                <% end_date = params[:end_date].present? ? params[:end_date] : Date.current.strftime('%Y-%m-%d') %>
                        <b><label> From Date : </label></b>
                                <input type="date" class="control datepicker" placeholder="From Date..." name="from_date" value="<%= from_date %>">
                        <b><label> To Date : </label></b>
                                <input type="date" class="control datepicker" id="end_date" placeholder="To Date..." name="end_date" value="<%= end_date %>">
                        </div>
                        <div class="level-item">
                          <%= submit_tag "Filter", class: "button" %>
                        </div>
                      </div>  
                  <% end %>
                </div>
            </div>
          </div>
        </section>
        <br>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%#= @total_users%></p>
                <p class="subtitle">Users</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%#= @total_store %></p>
                <p class="subtitle">Stores</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%#= @total_product %></p>
                <p class="subtitle">Products</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title"><%#= @total_tr %></p>
                <p class="subtitle">Transactions</p>
              </article>
            </div>
           <div class="tile is-parent">
              <article class="tile is-child box" style="width: 440px;">
                <p class="subtitle"><b><%#= number_to_currency(@total_trdetail, unit: "Rp.", separator: ",", delimiter: ".") %></b></p>
                <p class="subtitle">Total Transactions</p>
              </article>
            </div>
          </div>
        </section>
        <div class="columns">
          <div class="column is-12">
            <div class="card events-card">
              <header class="card-header">
                <p class="card-header-title">
                  Top Ups
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
              </header>
              <div class="card-table">
                <div class="content">
                  <table class="table is-fullwidth is-striped">
                    <thead> 
                      <tr>
                        <th>User Name</th>
                        <th>Top Up Balance</th>
                        <th>Bank Name</th>
                        <th>Status</th>
                        <th>Created At</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                  </table>
                </div>
              </div>
              <footer class="card-footer">
                
              </footer>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>