* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans HK';
}

html {
  height: 100% !important;
  background-color: whitesmoke;
}

header .navbar-fixed {
  position: relative;
  height: 60px;
  z-index: 997;
}

body {
  height: 100%;
}

.bold {
  font-weight: 600;
}

.card-show {
  padding: 20px;
}

#sidebar-container {
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  position: fixed;
  width: 230px;
  transition: all 0.3s;
}

.side-fixed {
  transform: translateX(0);
  position: relative;

}

.sidebar {
  background-color: #ededed;
  height: 96%;
  padding: 64px 10px 10px;
  overflow-y: auto;
}


.menu-collapsed {}

.menu-list li a.d-flex-inline {
  display: inline-flex;
}

.menu-collapsed.menu-hidden {
  display: none;
}

#sidebar-container.sidebar-expanded {
  transition: all 2s;
}

#sidebar-container.sidebar-collapsed {
  width: 70px;
  transition: all 0.3s;
}

#sidebar-container .sidebar-submenu a {
  /*  height: 30px;*/
  /*  padding-left: 18px;*/
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e4633a;
  /*  box-shadow: 0px 0px 8px 0px #e3e3e3;*/
  /*  border-top-right-radius: 5px;*/
  padding: 0 10px;
}

.sidebar-bottom ul li a {
  color: white;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

#sidebar .menu-sub-bottom {
  bottom: 0;
  position: absolute;
}

#main {
  min-height: calc(100% - 100px);
  margin: 0 13px 0 245px;
}

#main.main-collapsed {
  transition: all 0.3s;
  margin: 0 13px 0 83px;
}

main {
  overflow: auto;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

input:checked {
  height: auto;
  width: 30px;
}

.table {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.table thead {
  background-color: #e1e1e1
}

.table thead tr {
  font-size: 15px;
}

.pagination-previous,
.pagination-next,
.pagination-link {
  background-color: white;
  font-weight: 600;
}

.box-title {
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
}

.box-content {
  width: calc(100% - 40px);
  padding: 30px 20px;
  font-size: 11pt;
  color: rgba(0, 0, 0, .54);
  display: none;
}

.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.mn-sidebar {
  top: 65px;
  position: relative;
  min-height: 86vh;
}

.mn-sidebar .btn-collapse {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menu-list a {
  text-transform: uppercase;
  font-weight: 600;
  color: gray;
}

.menu-list a:hover {
  background-color: transparent;
  color: #363636;
}

.menu-list a.is-active {
  background-color: white;
  color: black;
  box-shadow: 0px 0px 8px 0px #e3e3e3;
}

.sidebar-submenu a.is-active {
  background-color: silver;
  color: white;
}

.menu-list a.is-active span {
  color: #e4633a;
}

.menu-list ul {
  display: none;
}

.menu-list li.tap ul {
  display: block;
  transition: all 0.3s;
}

.dono {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f1ea";
}

/*
.menu-list .sub-plus:after {
  font-family: 'FontAwesome';
  content: "\f067";
  font-weight: 900;
}
*/

/*
#main-content {
  position: absolute;
  left: 14rem;
  right: 0;
}

#main-content.main-content-expanded {
  left: 237px;
  transition: all 0.3s;
}

#main-content.main-content-collapsed {
  left: 83px;
  transition: all 0.3s;
}
*/

footer {
  background: #0a0a0a;
  color: white;
  bottom: 0;
  z-index: -1;
  width: 100%;
  padding: 8px 13px 8px 245px;
}

footer.footer-collapsed {
  transition: all 0.3s;
  padding: 8px 13px 8px 83px;
}


@media screen and (max-width:425px) {

  #sidebar-container,
  #main-content {
    position: relative;
  }
}



.wrapper-login {
  background-image: linear-gradient(to left bottom, #b69373, #977d64, #796755, #5c5147, #413d39);
}

.wrapper-login .form-login {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  height: 500px;
  margin: 50px auto;
}

.login {
  padding: 40px;
}

.login label {
  font-weight: 400;
  font-family: 'Noto Sans HK', sans-serif;
}

.login .img-hijrah {
  padding: 20px;
  text-align: center;
}

.login .img-hijrah img {
  width: 200px;
}
