<%if user_signed_in? %>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CRM Dashboard</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/dasboard.css">
  <link rel="javascript" href="/assets/application.js">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300,400,500,700,900&display=swap" rel="stylesheet">

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag Ckeditor.cdn_url %>
  <%= csrf_meta_tags %>

  <%#= favicon_link_tag asset_path('animo_tab.jpg') %>
</head>

<body>

  <%= render partial: 'layouts/navigations/public.html.erb'%>
  <div id="main">
    <div class="wrapper">
      <%= render partial: 'layouts/navigations/sidebar'%>
      
      <% if notice %>
      <p class="help is-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="help is-danger"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <%= render partial: 'layouts/navigations/footer.html.erb'%>
  <!---------------------------------------------------------------------------------------->

  <!-- All of BulmaJS -->
  <script src="../BulmaJS-0.10.0/BulmaJS-0.10.0/dist/bulma.js"></script>
  <script async type="text/javascript" src="../js/bulma.js"></script>
  <!-- Single plugins -->
  <script src="../BulmaJS-0.10.0/BulmaJS-0.10.0/dist/navbar.js"></script>
<!--  <script src="jquery-3.3.1.min.js"></script>-->
  <script src="mainjs.js"></script>

  <script>
    (function() {
      var burger = document.querySelector('.burger');
      var nav = document.querySelector('#' + burger.dataset.target);

      burger.addEventListener('click', function() {
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
      });
    })();
    
//    $(document).ready(function() {
//     $('.menu-sub-list').click(function(){
//      $(this).toggleClass('tap');
//      });
//    });

//    $(document).ready(function(){
//      $('.menu-list li a').click(function(){
//        $('li a').removeClass("is-active");
//        $(this).addClass("is-active");
//      });
//    });

  </script>

</body>

</html>

<% else %>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cashless CMS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/dasboard.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK:100,300,400,500,700,900&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  
  <%= javascript_pack_tag "application" %>
  <%= csrf_meta_tags %>
  
  <style type="text/css">
    @import "compass/css3";

    * { box-sizing: border-box; margin: 0; padding:0; }
    
    body{
      display: block;
      height: auto;
      background: black;
      background-image: url("../images/bg-animo.png");
      background-size: cover; 
      background-repeat: no-repeat;
      background-position: 100% 100%;
      font-family: 'Helvetica Neue', Arial, Sans-Serif;
      overflow: hidden;
    }

    .wrp-login {
      
    }

    .login-wrap {
      height: 100vh;
      background: white;
      /*box-shadow: 3px 3px 10px #333;*/
      padding: 50px;
    }
   .txt-tagline{
      margin: 30px;
      padding: 50px;
      letter-spacing: 2px;
      color: white;
    }

    .txt-tagline h1{
        font-weight: 700;
        font-size: 50px;
      }

    h2 {
      text-align: center;
      font-weight: 200;
      font-size: 2em;
      margin-top: 10px;
      color: #34495e;
    }
     
   .button {
      background: #f6775e;
      border:none;
      color: white;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      transition: box-shadow .4s ease;
    }

    .button:hover {
      color: white;
      background-color: #f75f41;
      box-shadow: 1px 1px 5px #555;  
    }

    .button:active {
      box-shadow: 1px 1px 7px #222;  
    }
    .test{
      color: red;
    }

    @media only screen and (max-width: 768px){

    }

  </style>

</head>

<body> 
  <div class="wrp-login">
    <div class="columns">
      <section class="column">
        <div class="txt-tagline">
          <h1>Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </section>
      <section class="column is-one-third"> 
        <div class="login-wrap">
          <%=yield%>
            <% if notice %>
              <p class="help is-success">
              <%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="help is-danger"><%= alert %></p>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</body>
<% end %>